* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
body {
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #344292;
}
h1#page-title {
  text-align: center;
  font-size: 40px;
}

ul#navigation {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
ul li#nav-item {
  display: inline;
}
ul li a#nav-link {
  text-decoration: none;
  color: #344292;
  font-weight: bold;
  font-size: 17px;
}

ul li a#nav-link:hover {
  color: #1a1a1a;
}

section.available-pets,
section.how-to-adopt {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}
section .pet {
  flex: 1;
  margin: 10px auto;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
  text-align: center;
  max-width: 30%;
}

section .pet img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  max-width: 100%;
}
section .pet button {
  background-color: #344292;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
section .pet button:hover {
  background-color: #1a1a1a;
}

section.how-to-adopt {
  flex-direction: column;
  align-items: center;
}

/* Contact form */
form#contact-form {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form#contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form#contact-form input,
form#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form#contact-form button {
  background-color: #344292;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  padding: 15px 20px;
  border-radius: 5px;
}

form#contact-form button:hover {
  background-color: #1a1a1a;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #344292;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
