header {
  display: flex;
  justify-content: space-around;
}
header .logo img {
  border-radius: 50px;
}
header nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

header nav a:hover {
  background-color: lightgray;
}
header nav a.active {
  background-color: blue;
  color: white;
}
header .btn button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
header .btn button:hover {
  background-color: darkblue;
}
header .btn #get-started {
  background: none;
  color: blue;
  border: 1px solid blue;
  padding: 5px 10px;
}
header .btn #get-started:hover {
  background-color: blue;
  color: white;
}

.hero {
  text-align: center;
  padding: 150px 0;
  background-image: url("https://picsum.photos/id/244/800/400");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.features,
.feature-title {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  align-items: center;
}
